section.last 
	.container.last__container
		.last__left 
			.last__title Остались вопросы?
			p Заполните заявку и наши специалисты свяжутся с Вами в ближайшее время
		.last__right 
			form.form.card(action="") 
				.form__input
					input(type="text" placeholder="Ваше имя")
				.form__input
					input(type="tel" placeholder="Введите ваш номер телефона")
				.form__agreement 
					span.form__agreement-agree 
					p Согласен с 
						a(href="#") политикой конфиденциальности
				button.form__btn.btn-orange Перезвоните мне