section.rate
	.container 
		.rate__header 
			h2 Наши ставки
			p Пересчет процентов происходит за весь срок пользования денежными средствами. В случае возникновения переплаты инвестору (при досрочном изъятии), сумма переплаты удерживается из суммы основного долга.
		.rate__items 
			.card.rate__item.rate__item1 
				.rate__column1
					h3 Продукт<br> Стабильный
					.btn-orange.btn-application Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие с уведомлением за 30 календарных дней до момента возврата (после 6 мес.) с пересчетом -3%
				.rate__column3 
					.rate__column3-row 
						span 6-12 мес.
						span 15%
					.rate__column3-row 
						span 13-24 мес.
						span 16%
					.rate__column3-row 
						span Более 24 мес.
						span 18%
			.card.rate__item 
				.rate__column1 
					h3 Продукт<br> Надежный
					.btn-orange.btn-application Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие в течении 3-х рабочих дней без потери процентов
				.rate__column3 
					.rate__column3-row 
						span 12%
			.card.rate__item 
				.rate__column1 
					h3 Продукт<br> Надежный
					.btn-orange.btn-application Инвестировать
				.rate__column2
					.rate__column2-title Ежемесячно/Капитализация
					p Досрочное изьятие в любой момент в течении 30 рабочих дней без потери процентов
				.rate__column3 
					.rate__column3-row 
						span 14%
