section.reviews
	.popup.popup-reviews
		.popup__bg
		.popup__container.card 
			.popup__close
			.popup__title Оставьте Отзыв
			span Наш менеджер свяжется с вами для консультации
			form.popup__form(action="") 
				.popup__input 
					input(type="text" placeholder="Ваше имя")
				.popup__input 
					input(type="tel" placeholder="Введите ваш номер телефона")
				.popup__agreement 
					span.popup__agreement-agree.agreement-agree
					p Согласен 
						a(href="") с политикой конфиденциальности
				button.popup__btn.btn-orange Отправить
	.container 
		h2.reviews__title.show 
			span.title-text Отзывы наших инвесторов
			span.line.show
		.reviews__items-wrapper
			.reviews__items 
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")
				a.reviews__item(href="images/reviews/1.svg" data-fancybox="gallery1")
					.reviews__card.card.show
						img(src="images/reviews/1.svg", alt="alt")

		.reviews__btns 
			.reviews__btn.btn-white Показать еще
			.reviews__btn.btn-orange Добавить отзыв
